<style>
    .questions {
        display: flex;
        flex-direction: column ;
    }
</style>
<h1>Add a new Movie</h1>
<form action="/movies" method="POST">
    <div class="questions">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Insert Movie Name"/>
    
        <label for="genre">Genre:</label>
        <input type="text"  name="genre" placeholder="Action, Adventure, Horror">

        <label for="date">Date Watched:</label>
        <input type="date" name="date">

        <label for="rank"> Rank:</label>
        <input type="text" name="rank" pattern="" placeholder="Must be between 1-10">

        <label for="comments"> Comments</label>
        <input type="text" name="comment" placeholder="Best Movie Ever!">

        <input type="submit">
  </div>

  {{!-- <a href="/" class="btn btn-secondary">Cancel</a> --}}
</form>