<style>
    .user {
        display: flex;
        flex-direction: column ;
    }
</style>
<h1>Create a username. </h1>
<form action="/movies" method="POST">
    <div class="user">
        <label for="name">Username:</label>
        <input type="text" name="name" pattern="" title=""/>

        <label for="password">Password</label>
        <input type="text" name="password" pattern="" title="">
        <input type="submit">
  </div>

  {{!-- <a href="/" class="btn btn-secondary">Cancel</a> --}}
</form>