<style>
    .user {
        display: flex;
        flex-direction: column;
    }
</style>
<h1>Create a username </h1>

{{!-- {{ >messages }} --}}
{{#if message}}
<h3>username already exists</h3>
{{/if}}

<form action="/movies/register" method="POST">
    <div class="user">
        <label for="name">Name:</label>
        <input type="text" name="name" title=""/>

        <label for="username">Username:</label>
        <input type="text" name="username"  title="">

        <label for="password">Password:</label>
        <input type="text" name="password" title="">
        <input type="submit">
        {{!-- add patterns later --}}
  </div>

  {{!-- <a href="/" class="btn btn-secondary">Cancel</a> --}}
</form>