<div class="container login-words">
<h1 class="login-header">Login</h1>

{{!-- {{> messages}} --}}

    {{#if message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Invalid Username or Password</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
    {{/if}}
    <form action="/movies/login" method="POST"> 
        <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
            <label for="password" class="form-label"> Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="submit-login">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    <div class="login-register">
        <p>
            Or <a href="/movies/register">Register</a> an account
        </p>
    </div>

</div>

<footer id="footer">
        {{> footer}}
</footer>