h1 {
    /* color: red; */
    display: flex;
    justify-content: center;
}

.title-index {
    color: #AAA4D1;
}

h2 {
    color: #AAA4D1;
}


body {
    /* background-image: linear-gradient(black,rgb(51, 61, 70), #0c4488, #89959D); */
    background: contain;
    font-family: Viaoda Libre;
    height: 100vh;

}



#new-movie {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 25px;
    /* background-color: red; */
}

#all-movies {
    /* border-bottom:solid white 2px; */
    /* border-right: solid white; */
    border-top: white solid;
    /* border-left: white solid; */
    color: #90CEF1;
}

.movie-name {
    text-decoration: underline;

}
/* edit route */
.edit-form {
    display: flex;
    flex-direction: column;
}
#edit-title {
    display: flex;
    justify-content: center;
    color: red;
}

.show-title {
    color: #AAA4D1;
}

/* register route */
.user {
    display: flex;
    flex-direction: column;
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
#footer {
    position: absolute;
    /* position:relative; */
    /* padding-top: 5rem; */
    /* position:static; */
    /* bottom: 0; */
    bottom:0;
    width: 100%;
    /* height: 2.5rem;    */

    /* position:fixed; */
    /* left:0; */
   }

#footer-show {
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer-new {
    position:fixed;
    bottom:0;
    width: 100%;
    height: 10vh;
}

   #index-footer {
       position: relative;
       /* height: 100vh; */
       width: 100%;
       bottom:auto;
   }

.rank-index {
    padding-top: 8vh;
}

.date-index {
    padding-top: 7vh;
}

.title-movieNum {
    display: flex;
    justify-content:space-between;
    padding-right: 6.5vw;
}

.more-details {
display: flex;
/* justify-content: flex-end; */
color: #89959D;
}

.more-details-button {
    /* margin: 2vh 5vh; */
    /* padding: 1vh; */
    border-radius: 100px;
    border: 2px solid;
    color: #7097b3;
    font-family: Noto Serif KR;
    background-color: transparent;
}
.container-md {
    padding: 0px 90px 90px 90px;
}

.all-movie {
    background-color:darkorchid transparent;
    /* padding: 50px; */
}

.each-movie {
    /* background-color:sienna; */
    padding: 20px 20px 0px 20px;
}

.movie-spacing {
    margin: 2rem 0rem 0rem 0rem;
}

.img-index {
    padding: 1rem 1rem
}

.add-new-movie {
    /* margin: 2vh 5vh; */
    /* padding: 1vh; */
    border-radius: 100px;
    border: 5px solid;
    color: #59C2C9;
    font-family: poppins;
    background-color: transparent;
}

.navbar {
    color: red
}

.filter-movieCount {
    display: flex;
    justify-content: space-between;
    color: #89959D;

}

.show-movie {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: red; */
}

.movie-info {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: red; */
}

.image-show, .date-show {
    display: flex;
    justify-content: center; 
    padding-top: 15px;
    /* background-color: red; */
}

.date-comment, .date-rank {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/* .date-rank {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.date-show {
    display: flex;
    justify-content: center; 
}*/

a {
    color: #89959D;
}

.home-edit {
    display: flex;
    justify-content: space-around;
}

.delete {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}

.show-info {
    color: #FDF9ED;
    font-size: 20px;
}
.genre-show {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}

.rank-genre {
    display: flex;
    justify-content: space-evenly;
}