h1 {
    color: red;
    display: flex;
    justify-content: center;
}

body {
    /* background-image: linear-gradient(black,rgb(51, 61, 70), #0c4488, #89959D); */
    font-family: Viaoda Libre;

}

#new-movie {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 25px;
    /* background-color: red; */
}

#all-movies {
    /* border-bottom:solid white 2px; */
    /* border-right: solid white; */
    border-top: white solid;
    /* border-left: white solid; */
}

/* edit route */
.edit-form {
    display: flex;
    flex-direction: column;
}
#edit-title {
    display: flex;
    justify-content: center;
}

/* register route */
.user {
    display: flex;
    flex-direction: column;
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
#footer {
    position: absolute;
    /* position:relative; */
    /* padding-top: 5rem; */
    /* position:static; */
    /* bottom: 0; */
    width: 100%;
    /* height: 2.5rem;    */

    /* position:fixed; */
    bottom:0;
    /* left:0; */
   }

   #index-footer {
       position: relative;
       /* height: 100vh; */
       width: 100%;
       bottom:auto;
   }

.rank-index {
    padding-top: 8vh;
}

.date-index {
    padding-top: 7vh;
}

.title-movieNum {
    display: flex;
    justify-content:space-between;
    padding-right: 6.5vw;
}

.more-details {
display: flex;
/* justify-content: flex-end; */
}
.container-md {
    padding: 0px 90px 90px 90px;
}

.all-movie {
    background-color:darkorchid transparent;
    /* padding: 50px; */
}

.each-movie {
    /* background-color:sienna; */
    padding: 20px 20px 0px 20px;
}

.movie-spacing {
    margin: 2rem 0rem 0rem 0rem;
}

.img-index {
    padding: 1rem 1rem
}

.add-new-movie {
    margin: 2vh 5vh;
    padding: 1vh;
    border-radius: 100px;
    border: 5px solid;
    color: #15f4ee;
    font-family: poppins;
    background-color: transparent;

}

.filter-movieCount {
    display: flex;
    justify-content: space-between;
}
